.home a {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.7;
    color:black;  
    list-style: none;
    text-decoration: none;
    margin: 20px;
}

body {
    background-color: azure;
    background-image: url("my-palette.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

#posts_list {
    margin: 8rem auto 3rem auto;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgb(254, 80, 234);
    background-color: aliceblue;
    width: 95vw;
    /* max-width: 30rem; */
}
p {
    text-align: center;
    font-size: 40px;
}
